<div class='container'>
    <header class="gore">
        <div class="signature">
            <div class="gridich">
              <div>
              <!-- <img class="cvijece lijevo" src="/assets/komp1.png">--> 
              </div>
              <div>
          <h1 class="potpis">Esma Herenda</h1>
        </div>
        <div>
         <!-- <img class="cvijece desno" src="/assets/komp.png">--> 
        </div>
        </div>
          <hr>
          
          <div class="drugaboja">
          <h1 class="posao">JUNIOR DEVELOPER</h1>

        </div>
          <hr>
          
        </div>
       
        
      </header>
       <buttons-container class="buttons"></buttons-container>
    <div class="pic">
        <img class="slika" src="/assets/cvprofilna2.png"> 
         </div>
         <div class="misli">
          <img class="ekran" src="/assets/lapp2.png"> 
           </div>
  <!--<div class="main">
  <header class="gore">
    <div class="signature">
      <h1 class="potpis">ESMA HERENDA</h1>
      
      
      <h1 class="posao">JUNIOR DEVELOPER</h1>
     
      
      <img class="potpis" src="/assets/potpis2.png">
    </div>
   
    
  </header>
  <buttons-container class="buttons"></buttons-container>

</div>
-->
</div>
