<div class='container'>
  <div class="main">
  <header class="gore">
    <div class="signature">
      <h1 class="potpis">Esma Herenda</h1>
      <div class="ukras">
      <img class="ornament" src="/assets/linijamanjat.png">
    </div>
      <h1 class="posao">Junior developer</h1>
      <div class="ukras">
          <img class="ornament" src="/assets/linijamanjat2.png">
        </div>
      
      <!--<img class="potpis" src="/assets/potpis2.png">-->
    </div>
   <div class="pic">
    <img class="slika" src="/assets/cvprofilna.png">
   </div>
  </header>
  <buttons-container></buttons-container>
</div>
</div>
