 <!-- <div class="box" id="boks">
    <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
-->
<div class="boks">
<div class="dugmad">
    <button class="glow-on-hover">About</button>
    <div class="nested">
    <button class="glow-on-hover">Education</button>
    <button class="glow-on-hover">Skills</button>
    </div>
    
    
    <button class="glow-on-hover">Technical skills</button>
    <div class="nested">
    <button class="glow-on-hover">Hobbies&Interests</button>
    <button class="glow-on-hover">Languages</button>
    </div>

    
    <button class="glow-on-hover">Projects</button>
  
    <button class="glow-on-hover">Experience</button>
  
    <button class="glow-on-hover">Pdf Resume</button>
</div>
</div>