 <!-- <div class="box" id="boks">
    <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
-->
<ul>
    <li class="about"><a class="aboutA">About me</a></li>
  
    <li class="education"><a href="#news">Education</a></li>
    <li class="skills"><a href="#contact">Skills</a></li>
    <li class="technical"><a href="#about">Technical skills</a></li>
    <li><a href="#about">Hobbies & Interests</a></li>
    <li><a href="#about">Languages</a></li>
    <li><a href="#about">Projects</a></li>
    <li><a href="#about">Experience</a></li>
    <li><a href="#about">Contact</a></li>
  </ul>
  <hr>
          