ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
.about{
  background:url('/assets/aboutIc.png') 0% 50% no-repeat no-repeat;
 background-size: 30% 75%;
 
}
.education{
  background:url('/assets/educationIc.png') 0% 50% no-repeat no-repeat;
 background-size: 30% 75%;
 
}

.skills{
  background:url('/assets/skillsIc.png') 0% 50% no-repeat no-repeat;
 background-size: 30% 75%;
 
}
.technical{
  background:url('/assets/technicalIc.png') 0% 50% no-repeat no-repeat;
 background-size: 20% 70%;
 
}
li {
  float: left;
  border: 1px solid #4b372b;
}
hr{
  border: 1px solid #4b372b;
}

li a {
  display: block;
  font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
    color:#4b372b;
    font-size: 1vw;
  text-align: center;
  padding: 14px 37px;
  text-decoration: none;
  

}

li a:hover:not(.active) {
  background-color: rgb(233, 201, 206);
}

.active {
  background-color: rgb(233, 201, 206);
}