 <!-- <div class="box" id="boks">
    <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
-->
<ul>
    <li class="about"><a class="aboutA">About me</a></li>
  
    <li class="education"><a>Education</a></li>
    <li class="skills"><a>Skills</a></li>
    <li class="technical"><a>Technical skills</a></li>
    <li class="hobbies"><a>Hobbies & Interests</a></li>
    <li class="languages"><a>Languages</a></li>
    <li class="projects"><a>Projects</a></li>
    <li class="experience"><a>Experience</a></li>
    <li class="contact"><a>Contact</a></li>
  </ul>
  <hr>
          